<!-- Formating image above the title and adding the DSA website link -->

<div style="text-align: center; margin-bottom: 20px;">
   <a href="https://datascienceacademy.ncsu.edu/courses/upcoming-dsa-courses/" target="_blank">
       <img src="DSA-lockUp-2024.png" alt="Header Image" style="max-width: 525px; height: auto;">
   </a>
</div>